# Read about configuration, here:
# https://craftcms.com/docs/4.x/config/

# The application ID used to to uniquely store session and cache data, mutex locks, and more
CRAFT_APP_ID=CraftCMS--f8a1e22b-c1ae-4e65-88ec-d305ac32facf

# The environment Craft is currently running in (dev, staging, production, etc.)
CRAFT_ENVIRONMENT=dev

# The secure key Craft will use for hashing and encrypting data
CRAFT_SECURITY_KEY=Y3Vmyu9E0j0iAShtaZFc_mbPZgGT9z0V

# Database connection settings
CRAFT_DB_DRIVER=mysql
CRAFT_DB_SERVER=mysql
CRAFT_DB_PORT=3306
CRAFT_DB_DATABASE=project
CRAFT_DB_USER=project
CRAFT_DB_PASSWORD=project
CRAFT_DB_SCHEMA=
CRAFT_DB_TABLE_PREFIX=

# General settings (see config/general.php)
DEV_MODE=true
ALLOW_ADMIN_CHANGES=true
DISALLOW_ROBOTS=true

# Dev server settings
DEV_SERVER_PORT=8050
PRIMARY_SITE_URL="http://localhost:${DEV_SERVER_PORT}/"
CRAFT_CP_USER="admin"
CRAFT_CP_EMAIL="info@nystudio107.com"
CRAFT_CP_PASSWORD="project"
CRAFT_SITE_NAME="Spin Up Craft"
